



:root{

--cor-de-fundo: #1E1E1E;
--verde: #6FFF57;
--branco: #FFFFFF;
--botao-ativo: #3A375E;
--botao-inativo: rgba(65, 62, 106, 0.5);
--texto-fundo:  rgba(30, 30, 30, 1);



}


body{
   background-color: var(--cor-de-fundo);
   color: var(--branco);


}